.boxAnimated {
	padding:10px;
	border:1px solid #CCC;
	background-color:#EBEBEB;
	background-image:-moz-linear-gradient( top,#fafafa 0%,#ebebeb 100% );
	background-image:-webkit-gradient( linear,0 0%,0 100%,from( #fafafa
),to( #ebebeb ) );
	-moz-box-shadow:1px 2px 3px 0 #ccc;
	-webkit-box-shadow:1px 2px 3px 0 #ccc;
	box-shadow:1px 2px 3px 0 #ccc;
	position:relative;
	margin-right:13px;
	margin-bottom:13px;
	float:left;
}

.boxAnimated .image {
	border:1px solid #ebebeb;
	margin:0 0 3px;
	overflow:hidden;
}

.boxAnimated .image img {
	width:200px!important;
}

.boxAnimated .longdescription {
	position:absolute;
	top:2px;
	left:2px;
	height:172px;
	width:219px;
	background-image:url('../img/trans-black.png');
	opacity:0;
	z-index:2;
	overflow:hidden;
	cursor:pointer;
}

.boxAnimated .longdescription .title {
	margin-top: 10px;
	margin-left: 15px;
	color:#fff;
	font-size:0.9em;
	font-weight: bold;
}

.boxAnimated .longdescription .description {
	margin: 5px 15px 10px 30px; /* Arriba, Derecha, Abajo, Izquierda */
	color:#fff;
	font-size:0.80em;
}

.boxAnimated .longdescription .description li {
	list-style-type: circle;
	margin-bottom: 0.3em;
}

.boxAnimated .shortdescription {
	color:#333;
	font:62.5%/1.5;
	height:46px;
}

.boxAnimated .shortdescription .title {
	height:20px;
	color:#333;
	font-size:15px;
	font-weight:700;
}

.boxAnimated .shortdescription .description {
	height:17px;
	color:#665252;
	font-size:13px;
	margin-bottom:4px;
} 
