form {
	margin-bottom: 2em;
}
input, select, textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
}
form .label {
	width: 200px;
	float: left;
	text-align: right;
}
form .field {
	margin-left: 212px;
	margin-bottom: 1em;
}
input[type="text"], input[type="password"], textarea, select {
	border: 1px solid black;
	width: 400px;
	padding: 0.5em;
}
input[type="submit"], input[type="button"] {
	border: 1px solid black;
	padding: 0.5em;
}
input[type="file"], input[type="image"] {
	border: 0;
}

/* ajustes para tablasJS dentro de formularios */
table.tableJS input[type="text"], table.tableJS textarea, table.tableJS select {
	border: 1px solid gray;
	padding: 0.3em;
	width: 100px;
	color: #555;
}
table.tableJS input[type="image"] {
	border: 0;
}
table.tableJS th, table.tableJS td {
	text-align: center;
}
table.tableJS th:last-child, table.tableJS td:last-child {
	width: 50px;
}
