# Archivo de configuración para Apache

# Las dos opciones siguientes son requeridas para que funcione mod_rewrite, sin
# embargo el servidor podría prohibir que sean activadas. Se deben chequear "a
# mano" (se dejan comentadas solo como referencia).
#Options +FollowSymLinks
#RewriteEngine On

# Si se utiliza mod_userdir para este sitio indicar la url para accederlo
#RewriteBase /~usuario/website/

# Reglas para redireccionar las solicitudes al archivo index.php que despacha
# la página
RewriteRule (.*) webroot/$1 [L]
RewriteRule ^$ webroot/ [L]
